* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
}

h1 {
    background-color: aquamarine;
    text-align: center;
}

section {
    background-color: rgb(255, 127, 127);
    height: 65vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}