* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
}

h1 {
    background-color: aquamarine;
    text-align: center;
}

section {
    background-color: rgba(127, 232, 255, 0.474);
    height: 600px;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
}

table {
    background-color: rgba(71, 86, 255, 0.392);
    height: 200px;
    width: 500px;
    display: inline-block;
}